@* This Code Belong For Diamond Key Software solutions *@
@* @inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager; *@
@model IndexVM
@{
    ViewData["Title"] = DkStrings.IndexTitle;
}

<div class="input-main">
    <h2 class="main-Title">@DkStrings.IndexMainComment01</h2>
    <h2 class="main-Title">@DkStrings.IndexMainComment02</h2>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="validation-summary"></div>
        <div class="form-group-big">
            <label class="input-field-label-main" asp-for="FullName"></label>
            <input class="input-field-input-main" asp-for="FullName" lang="ar" dir="rtl"
                value="حيدر عبدالمهدي احريز مداعي السماوي" />
        </div>
        <div class="form-group-big">
            <label class="input-field-label-main" asp-for="RegisterNumber"></label>
            <input class="input-field-input-main" asp-for="RegisterNumber" lang="en" dir="ltr" value="2266GS6" />
        </div>

        <div class="form-group-big">
            <label class="input-field-label-main" asp-for="Email"></label>
            <input class="input-field-input-main" asp-for="Email" lang="en" dir="ltr" value="hay19732000@gmail.com" />
        </div>

        <div class="form-group-big">
            <label class="input-field-label-main" asp-for="PhoneNumber"></label>
            <input class="input-field-input-main" asp-for="PhoneNumber" lang="en" dir="ltr" value="07892765234" />
        </div>

        <div class="form-group-big">
            <label class="input-field-label-main" asp-for="University"></label>
            <input type="text" class="input-field-dropdown" asp-for="University" lang="ar" dir="rtl"
                list="universityOptions" placeholder=@DkStrings.IndexVMUniversityDisplay01 />
            <datalist id="universityOptions">
                @foreach (var item in Model.Universities)
                {
                    <option value="@item.Value"></option>
                }
            </datalist>
            <span asp-validation-for="University" class="text-danger"></span>
        </div>
        <div class="form-group-big">
            <label class="input-field-label-main" asp-for="GraduationYear"></label>

            <div class="date-wrapper">
                <input class="input-field-input-main form-control date-input-field" asp-for="GraduationYear" type="text"
                    style="text-align:center" />
            </div>
        </div>

        <div class="form-center" style="margin-top : 20px;">
            <button class="btn-style01" style="width:150px;padding:14px;text-align:center; margin-top: 30px;"
                type="submit">@DkStrings.CreateMembershipTitle</button>
            @* <a class="btn-style01" style="width:72px;padding:14px;text-align:center"
                href="~/SyndicateManagement/Create/@Model.MembershipId">@DkStrings.Back</a> *@
        </div>
    </form>
    @* <a class="btn-style01" style="width:150px;padding:14px;text-align:center; margin-top: 30px;"
        href="~/SyndicateManagement/Create">@DkStrings.CreateMembershipTitle</a> *@

</div>